[submodule "qtbase"]
	path = qtbase
	url = https://github.com/Desk5/qtbase
[submodule "qtdeclarative"]
	path = qtdeclarative
	url = https://github.com/Desk5/qtdeclarative
[submodule "qtshadertools"]
	path = qtshadertools
	url = https://github.com/Desk5/qtshadertools
